
/* conteiner width: 1128
gutter: 24
total container width: 1152 */


:root {
--primary-text-color: #434455;
--title-text-color: #2E2F42;
--hero-text-color: #FFFFFF;
--accent-color: #4D5AE5;
--footer-logo-color: #F4F4FD;
--footer-text-color: #E7E9FC;
--primary-bg-color: #FFFFFF; 
--secondary-bg-color: #2E2F42;
--additional-bg-color: #F4F4FD;
--additional-accent-color: #404BBF;
--subtle-text-color: #8E8F99;
--succes-color: #31D0AA;
--modal-bg-colort: #FCFCFC;

--transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

/* breakpoints */
--phone: 480px;
--tablet: 768px;
--desktop: 1200px;
}

/* ====================== */
/* INDEX.html */
/* ====================== */


/* ===== General formatting ===== */

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.container {
    /* phone screen */
    min-width: 320px;
    max-width: 428px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 16px;
    padding-right: 16px;

    box-sizing: border-box;
}

/* tablet screen */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* desktop screen */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ===== Header styles ===== adaptive done*/

.page-header {
    border: 0;
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

    margin: 0;
}

/* ===== Main-nav styles ===== */

.header-container {
    display: flex;
    align-items: center;
    min-height: 70px;
    justify-content: space-between;
}

/* ===== Logo styles ===== */

.logo-header {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-align: left;
}

.logo-accent {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

/* ===== Site navigation styles ===== */

.site-nav {
    display: flex;
    /* margin-right: 332px; */
}
.site-nav .item:not(:last-child) {
    margin-right: 40px;
}
.site-nav-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-text-color);
    font-weight: 700;
    text-align: left; 

    transition: color var(--transition-dur-and-func);
    transition-delay: 0ms;
}
.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
}
.site-nav-link.current {
    color: var(--accent-color);
}
.site-nav-link.current::after {
    position: absolute;
    display: block;

    content: " ";
    width: 100%;
    height: 4px;
    
    bottom: 0;
    left: 0;

    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 1;
    transition: opacity var(--transition-dur-and-func);
}

@media screen and (max-width: 767.98px) {
    .site-nav {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .site-nav {
        margin-right: auto;
    }
}

/* ===== Contacts styles ===== */

.site-contacts {
    display: flex;
}

.site-contacts .link {
    color: var(--primary-text-color);
    
    transition: color var(--transition-dur-and-func);
    transition-delay: 0ms;
}
.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
    .site-contacts {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .site-contacts {
        display: flex;
        flex-direction: column;
        gap: 4px;
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .site-contacts .link {
        font-size: 12px;
        line-height: calc(16/12);
        letter-spacing: 0.04em;
    }  
}
@media screen and (min-width: 1200px) {
    .site-contacts .item:not(:last-child) {
        margin-right: 40px;
    }
}

/* ===== Mobile menu ===== */

.menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 22px;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    
    cursor: pointer;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-icon {
    width: 32px;
    height: 22px;
    fill: var(--secondary-bg-color)
}

/* ===== Hero styles =====*/


.hero {
        /* background-blend-mode: multiply; */
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/dark-bg_mob@1x.jpg");
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: rgba(46, 47, 66, 0.7);
        /* height: 600px; */
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 112px;
        padding-bottom: 112px;
    }


@media screen and (max-width: 767.98px) and 
(min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero/dark-bg_mob@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero/dark-bg_tab@1x.jpg");
    }
}
@media screen and (min-width: 768px) and 
(min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/hero/dark-bg_tab@2x.jpg");
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/people-office\ 1_desk@1x.jpg");
    }
}

@media screen and (min-width: 1200px) and 
(min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/people-office\ 1_desk@2x.jpg");
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 108px;
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }
}

.hero-title {
    margin-top: 0;
    margin-bottom: 72px;

    color: var(--hero-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .hero-title {
        margin-bottom: 40px;
        font-size: 56px;
        line-height: calc(60/56);
    }
}
@media screen and (min-width: 1200px) {
    .hero-title {
        margin-bottom: 48px;
        font-size: 56px;
        line-height: calc(60/56);
    }
}

.hero-btn {
    padding: 16px 32px;

    color: var(--hero-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer; 
    
    transition: background-color var(--transition-dur-and-func), 
    box-shadow var(--transition-dur-and-func);
    transition-delay: 0ms;
   }

   .hero-btn:hover {
    background-color: var(--additional-accent-color);
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
   }


/* ===== Benefits styles ===== adaptive done*/


.benefits {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 96px;
    padding-bottom: 96px;  
}
/* desktop screen */
@media screen and (min-width: 1200px) {
    .benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* .benefits-container {
    box-sizing: border-box;
} */

/* phone screen */
.benefits-list {
    text-align: center;
}

/* tablet screen */
@media screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100%-24px)/2);
        text-align: left;
        justify-content: left;
        align-items: center;
        }
}
   
/* desktop screen */
@media screen and (min-width: 1200px) {
    .benefits-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: left;
        }
}

/* phone screen */
.benefits-item:not(:last-child) {
    margin-bottom: 72px;
}

/* tablet screen */
@media screen and (min-width: 768px) {
    .benefits-item {
        margin-right: 24px;
        width: 356px;
    }
}
@media screen and (min-width: 768px) {
    .benefits-item:nth-child(2n) {
        margin-right: 0;
    }
}
@media screen and (min-width: 768px) {
    .benefits-item:nth-child(n+3) {
        margin-bottom: 0;
    }
}

/* desktop screen */
@media screen and (min-width: 1200px) {
    .benefits-item {
        width: 264px;
        flex-basis: auto;
    }
}
@media screen and (min-width: 1200px) {
    .benefits-item:not(:last-child) {
            margin-right: 24px;
            margin-bottom: 0;
        }
}
 
/* phone & tablet screen */
@media screen and (min-width: 320px) and (max-width: 1199.98px) {
    .benefits-icon-container {
        display: none;
    }
}

/* desktop screen */
@media screen and (min-width: 1200px) {
    .benefits-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--footer-logo-color);
        margin-bottom: 8px;
        }
}

/* phone & tablet screen */
@media screen and (max-width: 1199.98px) {
    .benefit-icon {
        display: none;
    }
}
/* desktop screen */
@media screen and (min-width: 1200px){
    .benefit-icon {
        width: 64px;
        height: 64px;
        }
}

/* phone screen */
.benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40px/36px);
    margin-top: 0;
    margin-bottom: 8px;   
    
    text-align: center;
}

/* tablet screen */
@media screen and (min-width: 768px) {
    .benefits-title {
        text-align: left;
    }
}

/* desktop screen */
@media screen and (min-width: 1200px) {
    .benefits-title {
        font-weight: 400;
        font-size: 20px;
        line-height: calc(24px/20px);
    }
}

.benefits .description {
    margin-top: 0;
    margin-bottom: 0;
}

/* ===== Projects examples styles ===== adaptive added */


.projects {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 120px;
}
.projects-title {
    margin-top: 0;
    margin-bottom: 72px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}
.projects-list {
    display: flex;
}
.projects-item {
    border: 1px solid var(--footer-text-color);
}
.projects-item:not(:last-child) {
    margin-right: 24px;
}
.projects-img {
    display: block;
}

@media screen and (max-width: 1199.98px) {
    .projects {
        display: none;
    }
}

@media screen and (min-width: 1200px) {}


/* ===== Team styles ===== */

.team {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 96px;
    padding-bottom: 128px;
    background: var(--additional-bg-color);
    text-align: center;
}
@media screen and (min-width: 768px) {
    .team {
        padding-bottom: 104px;
    }
}
@media screen and (min-width: 1200px) {
    .team {
    padding-top: 120px;
    padding-bottom: 120px;
    }
}

.team-title {
    margin-top: 0;
    margin-bottom: 72px;
  
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
}
.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 767.98px) {
    .team-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 72px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100%-24px)/2);
        row-gap: 64px;
        column-gap: 24px;
        }
}
@media screen and (min-width: 1200px) {
    .team-list .team-item:not(:last-child) {
        margin-right: 24px;
    }
}

.team-item {
    background-color: var(--primary-bg-color);

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
   
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.team-item .title {
    margin-top: 0px;
    margin-bottom: 8px;
}
.team-item .description {
    margin-top: 0;
    margin-bottom: 8px;
}
.team-img {
    display: block;
}
.card-text {
    margin-top: 0;
    margin-bottom: 0;
    padding: 32px 16px;
}
.team-icons {
    display: flex;
    justify-content: center;
    border: none;
    padding: 0;
}
.media:not(:last-child) {
    margin-right: 24px; 
}
.team-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 50%;
    fill: var(--footer-logo-color);

    transition: background-color var(--transition-dur-and-func);
    transition-delay: 0ms;
}
.team-media-icon:hover,
.team-media-icon:focus {
    background-color: var(--additional-accent-color);
}
.media-icon {
    width: 16px;
    height: 16px;
}

/* ===== Customers styles ====== adaptive done */


/* phone and tablet screen */
.customers {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
}
/* descktop screen */
@media screen and (min-width: 1200px) {
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* phone, tablet & desktop screen */
.customers-title {
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40px/36px); 
}

/* phone screen */
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100%-16px)/2);
        gap: 16px;
        justify-content: center;
        align-items: center;
        }
}
/* tablet screen */
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100%-48px)/3);
        gap: 24px;
        justify-content: center;
        align-items: center;
        margin-bottom: 72px;
        }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .customers-list:nth-child(n+4) {
        margin-bottom: 0;
    }
}
/* desktop screen */
@media screen and (min-width: 1200px) {
    .customers-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }
}

/* phone screen */
.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
    fill: var(--subtle-text-color);
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;

    transition: fill var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
    transition-delay: 0ms;
}
/* tablet & desktop screen */
@media screen and (min-width: 768px) {
    .customers-link {
        width: 168px;
        height: 88px;
    }
}

/* phone, tablet & desktop screen */
.customers-link:hover,
.customers-link:focus {
    fill: var(--additional-accent-color);
    border-color: var(--additional-accent-color);
}

/* phone screen */
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .customers-icon {
        width: 110px;
        height: 56px;
    }
}
/* tablet & desktop screen */
@media screen and (min-width: 768px) {
    .customers-icon {
        width: 104px;
        height: 56px;
    }
}



/* ===== Footer styles ===== adaptive done*/


/* phone & tablet screen */
.ftr {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--secondary-bg-color);
}
/* desktop screen */
@media screen and (min-width: 1200px) {
    .ftr {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* phone screen */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* tablet screen */
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .footer-container {
        display: flex;
        justify-content: left;
        flex-direction: row;
        flex-wrap: wrap;
        /* flex-basis: calc((100%-24px)/2); */
        gap: 24px;
        padding-left: 110px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .footer-container:nth-child(n+3) {
        margin: 0;
    }
}
/* desktop screen */
@media screen and (min-width: 1200px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
}

/* phone & tablet screen */
@media screen and (max-width: 1199.98px) {
    .ftr-first {
        margin-bottom: 72px;
    }
}
@media screen and (min-width: 768px) {
    .ftr-first {
        text-align: left;
    }
}
/* desktop screen */
@media screen and (min-width: 1200px) {
    .ftr-first {
        margin-bottom: 0;
        margin-right: 120px;
    }
}

/* phone screen */
@media screen and (max-width: 767.98px) {
    .logo-footer {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: calc(21.13px/18px);
        letter-spacing: 0.03em;
        text-align: center;
        }
}
/*tablet & desktop screen  */
@media screen and (min-width: 768px) {
    .logo-footer {
        text-align: left;
    }
}

/* phone, tablet & desktop screen */
.logo-ftr {
    color: var(--footer-logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21.13px/18px);
    letter-spacing: 0.03em;
}

/* phone screen */
@media screen and (max-width: 767.98px) {
    .ftr-text {
        margin-top: 16px;
        margin-bottom: 0;
        color: var(--footer-text-color);
        width: 268px;
    }
}

/* tablet & desktop screen */
@media screen and (min-width: 768px) {
    .ftr-text {
        margin-top: 16px;
        margin-bottom: 0;
        color: var(--footer-text-color);
        width: 264px;
    }
}


/* phone & tablet screen*/
@media screen and (max-width: 1199.98px) {
    .ftr-second {
        margin-bottom: 72px;
    }
}

/* desktop screen */
@media screen and (min-width: 1200px) {
    .ftr-second {
        margin: 0;
        margin-right: 80px;
    }
}

/* phone screen */
.ftr-media-title {
    color: var(--hero-text-color);
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    text-align: center;
}
/* tablet & desktop screen */
@media screen and (min-width: 768px) {
    .ftr-media-title {
        margin-bottom: 16px
        text-align: left;
    }
}

.ftr-icons-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.ftr-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 50%;

    transition: background-color var(--transition-dur-and-func);
    transition-delay: 0ms;
}
.ftr-media-link:hover,
.ftr-media-link:focus {
    background-color: var(--succes-color);
}
.ftr-icon {
    width: 24px;
    height: 24px;
}

/* phone screen */
@media screen and (max-width: 767.98px) {
    .ftr-third {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .ftr-third {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: left;
    }
}

/* phone screen */
@media screen and (max-width: 767.98px) {
    .ftr-form-title {
        color: var(--hero-text-color);
        font-weight: 400;
        text-align: center;
        margin: 0;
        margin-bottom: 16px;
    }
}
/* tablet & desktop screen */
@media screen and (min-width: 768px) {
    .ftr-form-title {
        color: var(--hero-text-color);
        font-weight: 400;
        text-align: left;
    }
}

/* phone screen */
@media screen and (max-width: 767.98px) {
    .ftr-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        height: 40px;
    }
}
/* tablet & desktop screen */
@media screen and (min-width: 768px) {
    .ftr-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;
        height: 40px;
    }
}

/* phone screen */
@media screen and (max-width: 767.98px) {
    .ftr-form-input {
        padding: 0;
        padding-left: 16px;
    
        width: 396px;
        height: 40px;
    
        color: var(--footer-logo-color);
        background-color: var(--secondary-bg-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}
/* tablet & desktop screen */
@media screen and (min-width: 768px) {
    .ftr-form-input {
        padding: 0;
        padding-left: 16px;
    
        width: 264px;
        height: 40px;
    
        color: var(--footer-logo-color);
        background-color: var(--secondary-bg-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.ftr-form-field input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.ftr-btn{
    display: flex;
    margin: 0;
    padding: 8px 24px;
    box-sizing: border-box;
    
    justify-content: center;
    text-align: center;
    align-items: center;

    width: 165px;
    height: 40px;

    letter-spacing: 0.04em;
    color: var(--hero-text-color);
    background-color: var(--accent-color);

    border: none;
    border-radius: 4px;

    cursor: pointer;
}
.ftr-btn-text {
    margin-right: 16px;
}
.ftr-btn-icon {
    width: 24px;
    height: 20px;
}

/* ================================= */
/* PORTFOLIO.html */
/* ================================= */

/* Filter buttons styles */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    text-align: center;
}
.btn-list .item:not(:last-child) {
    margin-right: 24px;
}
.portfolio-btn {
    padding: 12px 24px;

    color: var(--accent-color);
    background-color: var(--additional-bg-color);
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    border: 1px solid var(--footer-text-color);
    border-radius: 4px;
    cursor: pointer;

    transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
    transition-delay: 0ms;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--hero-text-color);
    background-color: var(--additional-accent-color);
    border-color: var(--additional-accent-color);
    box-shadow: 
    0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Projects styles */

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-project {
    box-sizing: border-box;
    margin-right: 24px;
    margin-bottom: 48px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-project:nth-child(3n) {
    margin-right: 0;
}
.portfolio-project:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.portfolio-link {
    display: block;
}
.portfolio-link:hover,
.portfolio-link:focus,
.portfolio-link:hover .project-thumb::before,
.portfolio-link:hover .project-description {
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 1;
    transform: translateY(0);
}
.project-thumb {
    position: relative;
    display: flex;
    overflow: hidden;
}
.project-thumb::before {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: var(--additional-accent-color);

    opacity: 0;

    transform: translateY(100%);
    transition: var(--transition-dur-and-func);
}
.project-description {
    position: absolute;
    color: var(--additional-bg-color);
    text-align: left;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;

    opacity: 0;

    transform: translateY(100%);
    transition: var(--transition-dur-and-func);
}
.portfolio-img {
    display: block;
}
.project-list .title {
    margin-top: 0;
    margin-bottom: 8px; 
    text-align: left;
}
.project-type {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);
    text-align: left; 
}
.project-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;

    border: 1px solid var(--footer-text-color);
    border-top: none;
}

/* ================================= */
/* MODAL */
/* ================================= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity var(--transition-dur-and-func);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 72px 24px 24px;
    

    width: 408px;

    background-color: var(--modal-bg-colort);
    box-shadow:
        0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

@media screen and (max-width: 767.98px) {
    .modal {
        width: 392px;
    }
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    width: 24px;
    height: 24px;

    fill: #000000;
    background-color: var(--footer-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: fill var(--transition-dur-and-func), 
    background-color var(--transition-dur-and-func);
}

.modal-close:hover,
.modal-close:focus {
    fill: var(--primary-bg-color);
    background-color: var(--additional-accent-color);
}

.modal-close-icon {
    width: 8px;
    height: 8px;
}

.modal-form-title {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    text-decoration: none;
    text-align: center;
    color: var(--secondary-bg-color);
}

/* Modal form */

.modal-form {
    padding: 0;
    margin: 0;
    
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.04em;
    color: var(--subtle-text-color)
}

.modal-form-field {
    position: relative;

    display: flex;
    flex-direction: column;
}

.modal-form-field textarea {
    padding: 8px 16px;
    height: 120px;

    margin-bottom: 16px;
    resize: none;
}

.modal-form-field input::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-field:not(:last-child) {
    margin-bottom: 8px;
}

.field-label {
    margin-bottom: 4px;
}

.field-input-block {
    position: relative;
}

.field-input {
    box-sizing: border-box;

    padding: 8px 16px 8px 38px;

    width: 100%;
    height: 40px;

    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition-dur-and-func);
}

.field-input:focus {
    border: 1px solid var(--accent-color);
}

.field-input:focus + .field-icon {
    fill: var(--accent-color);
}

.field-input-block > .name {
    width: 18px;
    height: 18px;
}

.field-input-block > .tel {
    width: 18px;
    height: 24px;
}

.field-input-block > .email {
    width: 18px;
    height: 24px;
}

.field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: var(--secondary-bg-color);
    border: transparent;

    transition: fill var(--transition-dur-and-func);
}

/* Modal checkbox */

.modal-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.modal-checkbox-input {
    appearance: none;

    width: 16px;
    height: 16px;

    border: 1.25px solid var(--secondary-bg-color);
    border-radius: 2px;
    background-size: 0px;
    cursor: pointer;

    transition: all var(--transition-dur-and-func);
}

.modal-checkbox-input:checked {
    background-image:url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--additional-accent-color);
    fill: var(--footer-logo-color);
    border-color: var(--additional-accent-color);
    background-size: 10px;
}

.checkbox-agreement-link {
    text-decoration: underline;
    color: var(--accent-color);
}

/* Modal send button  */

.modal-send-field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.modal-send-btn {
    box-sizing: border-box;

    padding: 16px 32px;

    width: 169px;
    height: 56px;

    letter-spacing: 0.04em;
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

/* ====================================== */
/* MOBILE MENU */
/* ====================================== */

/* .menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767.98px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
} */


/* .menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
} */

.menu-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--primary-bg-color);
    z-index: 999;
    
    transform: translateX(100%);
    transition: transform var(--transition-dur-and-func)
    }

.menu-container.is-open {
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    .menu-container {
        display: none;
    }
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 32px;
    min-height: 22px;

    margin: 0;
    padding: 0;
    fill: var(--secondary-bg-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle-close {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
    min-width: 24px;
    min-height: 24px;
    
    fill: #000000;
    background-color: var(--footer-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    
    transition: fill var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

.menu-toggle-close:hover,
.menu-toggle-close:focus {
    fill: var(--primary-bg-color);
    background-color: var(--additional-accent-color);
}

.menu-close-icon {
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    gap: 40px;;
    margin-bottom: auto;
}

.mobile-menu-link {    
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40px/36px);
    color: var(--secondary-bg-color);
}

.mobile-contacts {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
}

.mobile-contacts-link {
    font-size: 20px;
    line-height: calc(24px/20px);
    color: var(--primary-text-color);
}
.mobile-contacts-link.accent {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40px/36px);
    color: var(--accent-color);
}

.mobile-socials {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 56px;
}
.mobile-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 50%;
    fill: var(--footer-logo-color);
    
    transition: background-color var(--transition-dur-and-func);
    transition-delay: 0ms;
    cursor: pointer;
    }
    
.mobile-socials-link:hover,
.mobile-socials-link:focus {
    background-color: var(--additional-accent-color);
}
    
.mobile-socials-icon {
    width: 24px;
    height: 24px;
}
